.header {
  text-align: center;
  font-family: Cambria, Cochin, Georgia, Times, serif;
}

#id_diameter {
  font-size: 90%;
  font-family: -apple-system, BlinkMacSystemFont, Roboto, Oxygen, Ubuntu, Cantarell, sans-serif;
}

.diameter {
  font-family: monospace;
  font-size: 140%;
}

.output {
  font-size: 110%;
  font-family: cursive;
}

#id_shapes {
  font-family: Tahoma, Geneva, Verdana, sans-serif;
  font-size: 100%;
}

.img {
  display: inline-block;
  margin-top: -100px;
  margin-left: 500px;
  position: absolute;
  width: 300px;
}
